apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: accidents-models-pvc
  namespace: accidents
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 2Gi
  storageClassName: microk8s-hostpath
