apiVersion: v1
kind: Service
metadata:
  name: accidents-service
  namespace: accidents
  labels:
    app: accidents
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: accidents
